﻿@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(fonts/OpenSans-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(fonts/RobotoThin.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(fonts/RobotoLight.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/RobotoRegular.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/RobotoMedium.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/RobotoBold.woff) format('woff');
}

@font-face {
    font-family: 'MBLogo';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/mblogo.woff') format('woff');
}

* {
    text-shadow: none !important;
}

body {
    overflow-y: scroll !important;
    font-size: 13px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.bodyWithPopupOpen {
    overflow-y: hidden !important;
}

.textlink {
    text-decoration: none;
}

    .textlink:hover {
        text-decoration: underline;
    }

h1, h1 a {
    font-weight: 300 !important;
    font-size: 30px;
}

.libraryPage h1, .libraryPage h1 a {
    font-weight: 100 !important;
}

.ui-loader h1 {
    font-family: Roboto;
    font-weight: 500 !important;
    font-size: 18px;
}

.ui-loader h1 {
    font-weight: bold;
}

h2 {
    font-weight: 400;
    font-size: 1.68em;
}

/*a, a.ui-link {
    font-weight: normal;
}

.ui-controlgroup a, a.ui-btn {
    font-weight: bold;
}*/

.ui-btn {
    font-family: Roboto;
    font-weight: 500 !important;
}

h1 a {
    text-decoration: none;
}

.libraryPage h1 a {
    color: #fff !important;
}

h1 a:hover {
    text-decoration: underline;
}

.ui-listview li h3 {
    font-weight: 400;
}

pre, textarea.pre {
    display: block;
    padding: 8.5px;
    font-size: 12.025px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #000;
}

.type-interior h2 {
    color: #1B58B8;
}

/* Bring these jqm font sizes down a little bit */
.ui-controlgroup-controls label {
    font-size: 14px;
}

.hide {
    display: none;
}

/*
    Header
    */
.header {
    padding: 7px 0 0 15px;
}

.imgLogoIcon {
    height: 45px;
}

.imgLogoText {
    height: 45px;
    margin-left: 5px;
}

.ui-popup-container {
    z-index: 99999;
}

.header .imageLink {
    display: inline-block;
}

.imageLink + .imageLink {
    margin-left: 30px;
}

.header .imageLink img {
    height: 28px;
    vertical-align: middle;
}

.btnCurrentUser {
    text-decoration: none;
}

.currentUsername {
    margin-right: 7px;
    font-size: 18px;
    color: #000;
    position: relative;
    top: 4px;
    display: none;
}

h1 .imageLink {
    margin-left: 15px;
}

    h1 .imageLink img {
        height: 32px;
    }

.imageLink:hover {
    opacity: .5;
}

.pageTitle {
    margin-top: 0;
    font-family: Roboto;
}

.imageButton {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

    .imageButton:hover {
        opacity: .5;
    }

    .imageButton[disabled], .imageButton[disabled]:hover {
        opacity: .3 !important;
        cursor: default;
    }

.fieldDescription {
    font-size: 12px;
    padding-left: 5px;
    font-weight: normal;
    white-space: normal !important;
}

.warningFieldDescription {
    padding: 5px;
    border: 1px solid #f4c63f;
    background: #fadb4e;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffefaa),to(#ffe155));
    background-image: -webkit-linear-gradient(#ffefaa,#ffe155);
    background-image: -moz-linear-gradient(#ffefaa,#ffe155);
    background-image: -ms-linear-gradient(#ffefaa,#ffe155);
    background-image: -o-linear-gradient(#ffefaa,#ffe155);
    background-image: linear-gradient(#ffefaa,#ffe155);
    border-radius: 5px;
}

.ulForm {
    margin-bottom: 20px !important;
}

    .ulForm li:not(.ui-li-divider) {
        background: none;
        border-top: none;
        border-bottom: none;
    }

.popup .ulForm {
    margin-bottom: 0 !important;
}

.content-primary {
    padding-top: 55px;
}

.content-secondary {
    z-index: 1000;
    border: 0;
    display: none;
    text-align: left;
    width: 220px;
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    margin: 0;
}

.sidebarLinks {
    margin-top: 2.75em;
    margin-left: 1em;
}

    .sidebarLinks a {
        display: block;
        padding: .6em 20px .6em 20px;
        text-decoration: none;
        color: #333 !important;
        text-shadow: none !important;
        font-weight: 500 !important;
        font-size: 14px;
        border-radius: 2px;
    }

        .sidebarLinks a:hover {
            background: #52B54B;
            color: #fff !important;
        }

        .sidebarLinks a.selectedSidebarLink {
            background: #38c !important;
            color: #fff !important;
            margin-right: 0;
        }

.sidebarDivider {
    height: 1px;
    background: #ddd;
    margin: .25em 0;
}

.invalidEntry {
    background-color: lightpink !important;
}

/* Tabs (e.g. advanced metadata page) */
.localnav {
    margin-bottom: 40px !important;
}

    .localnav + form {
        margin-top: -10px;
    }

.page > .ui-content {
    /* Need this so that the audio player doesn't cover content, but also for unveil lazy loading. */
    padding-bottom: 160px;
}

.dashboardPanelDivider {
    height: 1px;
    background: #ddd;
    margin: .25em 0;
}

.dashboardPanelLink {
    padding: .7em .5em .7em 1.25em;
    display: block;
    text-decoration: none;
    color: #000 !important;
    font-weight: normal !important;
}

    .dashboardPanelLink:hover {
        background: #52B54B;
        color: #fff !important;
    }

.selectedDashboardPanelLink {
    background: #38c;
    color: #fff !important;
}

.dashboardPanel .ui-panel-inner {
    padding: 0;
}

.appLinks a {
    margin: 0 2px;
}

.appLinks img {
    height: 32px;
}

.activeDevicesCollapsible .ui-collapsible-content {
    padding: .5em .5em !important;
}

@media all and (min-width: 450px) {

    .currentUsername {
        display: inline;
    }
}

@media all and (min-width: 650px) {

    .imgLogoIcon {
        height: 50px;
    }
}

@media all and (min-width: 750px) {

    /*
    Forms
    */
    form, .readOnlyContent {
        max-width: 600px;
    }

    .imgLogoText {
        height: 50px;
    }

    .header {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .type-interior > .ui-content, .type-interior > .ui-panel-content-wrap > .ui-content {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        overflow: hidden;
    }

    .content-secondary {
        display: block;
    }

    .content-primary {
        padding: 80px 15px 3em 0;
        margin: 0 0 0 260px;
    }

        .content-primary ul:first-child {
            margin-top: 0;
        }
}

@media all and (min-width: 900px) {

    .page:not(.standalonePage) .header {
        padding-top: 0;
    }
}

/*
    Media Library Page
    */
.mediaFolderButtons {
    margin-top: 10px;
}

.mediaFolderLocations {
    margin: 1em .25em !important;
}

.mediaLocationsHeader {
    padding-top: .75em !important;
    padding-bottom: .75em !important;
}

    .mediaLocationsHeader .ui-btn {
        position: absolute;
        right: -6px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        top: 6px;
    }

#ulDirectoryPickerList a {
    padding-top: .4em;
    padding-bottom: .4em;
    font-size: 14px;
}

.lblDirectoryPickerPath {
    white-space: nowrap;
}

.directoryPickerHeadline {
    border: 1px solid #f7c942;
    color: #222;
    background: #fff9df;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fffadf),to(#fff3a5));
    background-image: -webkit-linear-gradient(#fffadf,#fff3a5);
    background-image: -moz-linear-gradient(#fffadf,#fff3a5);
    background-image: -ms-linear-gradient(#fffadf,#fff3a5);
    background-image: -o-linear-gradient(#fffadf,#fff3a5);
    background-image: linear-gradient(#fffadf,#fff3a5);
    padding: 1em;
    border-radius: 5px;
}

/*
    List Vew Items
    */

.posterViewItem {
    display: inline-block;
    margin: 5px;
    text-align: center;
    padding: 0;
    position: relative;
    padding-bottom: 28px;
}

.posterViewItemWithDualText {
    padding-bottom: 56px;
}

.posterViewItemWithNoText {
    padding-bottom: 0 !important;
}

.posterViewItem a {
    color: white !important;
    font-weight: normal !important;
    text-decoration: none;
}

.posterViewItem img {
    max-width: 155px;
    max-height: 110px;
    vertical-align: bottom;
}

.premiumBanner img {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

.posterViewItemText {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    margin: 0;
    padding: 4px 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    background: #181818;
    text-shadow: none;
}

.posterViewItemWithDualText .posterViewItemText {
    text-align: left;
    color: #fff;
    padding-top: 5px;
    height: 23px;
}

.posterViewItemPrimaryText {
    bottom: 28px;
}

.posterViewItem:hover, .userItem:hover, .tileItem:hover {
    -moz-box-shadow: 0 0 0 5px #38c;
    -webkit-box-shadow: 0 0 0 5px #38c;
    box-shadow: 0 0 0 5px #38c;
}

@media all and (min-width: 750px) {

    .posterViewItem img {
        max-width: 190px;
        max-height: 130px;
    }
}

@media all and (min-width: 1200px) {

    .posterViewItem {
        font-size: 15px;
    }

        .posterViewItem img {
            max-width: 270px;
            max-height: 160px;
        }
}

@media all and (min-width: 1920px) {

    .posterViewItemText {
        height: 25px !important;
    }

    .posterViewItem {
        font-size: 17px;
        padding-bottom: 29px;
    }

    .posterViewItemWithDualText {
        padding-bottom: 60px;
    }

    .posterViewItemPrimaryText {
        bottom: 30px;
    }

    .posterViewItem img {
        max-width: 310px;
        max-height: 210px;
    }
}

.wizardContent {
    max-width: 800px;
    padding: .5em 2em 1em;
    margin: 0 auto;
    background: #e8e8e8;
}

.wizardNavigation {
    text-align: right;
}

.wizardContent form {
    max-width: 100%;
}

.wizardContent p {
    margin: 2em 0;
}

.wizardContent h2 img {
    height: 35px;
    vertical-align: middle;
    margin-right: .5em;
    position: relative;
    top: -3px;
}

/* Footer */
#footer {
    position: fixed;
    bottom: -2px;
    left: -2px;
    right: -2px;
    /* Above everything, except for the video player and popup overlays */
    z-index: 1097;
    color: #fff;
    border: 0 !important;
    background-color: #111;
}

.footerNotification {
    text-shadow: none;
    padding: .75em 1em;
    margin: 0;
    font-weight: normal;
    border-top: 1px solid #555;
}

.notificationIcon {
    height: 24px;
    margin-right: 1em;
    vertical-align: middle;
}

/*
 * Gradient Shadow
 */

/* All HTML5 progress enabled browsers */
progress {
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: solid #cccccc 2px;
    border-radius: 4px;
    margin: 0;
}

    /* Polyfill */
    progress[role]:after {
        background-image: none; /* removes default background from polyfill */
    }

/*
 * Background of the progress bar background
 */

/* Firefox and Polyfill */
progress {
    background: #cccccc !important; /* !important only needed in polyfill */
}

    /* Chrome */
    progress::-webkit-progress-bar {
        background: #cccccc;
    }

    /*
 * Background of the progress bar value
 */

    /* Firefox */
    progress::-moz-progress-bar {
        border-radius: 5px;
        background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

    /* Chrome */
    progress::-webkit-progress-value {
        border-radius: 5px;
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
        background-image: -webkit-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

    /* Polyfill */
    progress[aria-valuenow]:before {
        border-radius: 5px;
        background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
        background-image: -ms-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
        background-image: -o-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

/* Detail Page*/

.imgUserItemRating {
    height: 16px;
    width: 16px;
    margin-right: .75em;
    cursor: pointer;
    vertical-align: top;
}

    .imgUserItemRating:last-child {
        margin-right: 0;
    }

    .imgUserItemRating:hover {
        opacity: .5;
    }

.userProfileIcon {
    width: 36px;
}

#editItemMetadataPage #txtOverview {
    height: 70px;
}

.newsItem {
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
}

.newsItemDescription {
    max-height: 34px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.newsItemHeader {
    font-size: 15px;
    text-decoration: none !important;
}

.newsItemDate {
    margin: .25em 0;
    color: green;
}

@media all and (max-width: 1440px) {

    .dashboardHomeRightColumn {
        margin-top: 1em;
    }
}

.dashboardContent {
    max-width: 1550px;
    margin-top: -10px;
}

.dashboardHomeRightColumn {
    vertical-align: top;
}

@media all and (min-width: 1440px) {

    .dashboardHomeLeftColumn {
        width: 600px;
        display: inline-block;
        vertical-align: top;
    }

    .dashboardHomeRightColumn {
        vertical-align: top;
    }

    .firstDashboardHomeRightColumn {
        display: inline-block;
        width: 440px;
        margin-left: 2em;
        min-width: 300px;
    }

        .firstDashboardHomeRightColumn .ui-collapsible-content {
            height: 585px;
        }
}

@media all and (min-width: 1580px) {

    .dashboardHomeRightColumn {
        display: inline-block;
        margin-left: 1em;
        width: 300px;
        min-width: 300px;
    }

        .dashboardHomeRightColumn .ui-collapsible-content {
            height: auto;
            min-height: 585px;
        }
}

@media all and (min-width: 1880px) {

    .dashboardHomeRightColumn {
        max-width: 440px;
        margin-left: 2em;
        min-width: 400px;
    }
}

.organizerButtonCell {
    white-space: nowrap;
}

.organizerButton {
    margin-top: 0;
    margin-bottom: 0;
}

.btnShowStatusMessage {
    font-weight: normal !important;
    text-decoration: none;
}

    .btnShowStatusMessage:hover {
        text-decoration: underline;
    }

.activeSession {
    width: 50%;
}

    .activeSession .cardPadder {
        padding-bottom: 56.25%;
    }


.sessionNowPlayingContent {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
}

.sessionNowPlayingInnerContent {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-weight: 400;
    border-radius: 2px;
}

.sessionAppInfo {
    padding: .5em;
    overflow: hidden;
}

.sessionAppName {
    vertical-align: top;
    max-width: 200px;
}

.sessionUserInfo {
    position: absolute;
    right: 0;
    bottom: 11px;
    padding: .5em;
    text-align: right;
}

    .sessionUserInfo img {
        height: 24px;
    }

.sessionNowPlayingInfo {
    position: absolute;
    left: 0;
    bottom: 11px;
    padding: .5em;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sessionAppInfo img {
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
}

.activeSession .playbackProgress {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 100%;
    opacity: .95;
    z-index: 1000;
}

.activeDevicesCollapsible .ui-collapsible-content {
    padding: .25em !important;
}

.activeSession:not(.playingSession) .sessionNowPlayingContent {
    display: none;
}

.activeSession:not(.playingSession) .sessionNowPlayingInnerContent {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
}

.activeSession:not(.playingSession) .sessionUserInfo, .activeSession:not(.playingSession) .sessionNowPlayingInfo {
    bottom: 0;
}

.sessionNowPlayingTime {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 19px;
}

.sessionTranscodingFramerate {
    position: absolute;
    left: 10px;
    bottom: 19px;
    color: #fff;
}

.sessionNowPlayingStreamInfo {
    color: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
}

.activeSession .transcodingProgress {
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    opacity: .9;
    z-index: 1000;
    position: absolute;
}

.transcodingSession .playbackProgress {
    bottom: 5px;
}

/* Firefox */
.transcodingProgress::-moz-progress-bar {
    border-radius: 5px;
    background-image: -moz-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
}

/* Chrome */
.transcodingProgress::-webkit-progress-value {
    border-radius: 5px;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(221, 73, 25)), color-stop(1, rgb(221, 73, 25)) ) !important;
    background-image: -webkit-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
}

/* Polyfill */
.transcodingProgress[aria-valuenow]:before {
    border-radius: 5px;
    background-image: -moz-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
    background-image: -ms-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
    background-image: -o-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
}

@media all and (max-width: 550px) {

    .sessionAppName {
        max-width: 160px;
    }
}

@media all and (max-width: 500px) {

    .sessionAppName {
        max-width: 150px;
    }

    .activeSession {
        width: 100%;
    }
}
